<!-- Menu starts here -->
<div class="menu">
  <div class="navbar">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fw-icon-th-list"></i>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <form class="search-form">
        <div class="input-append ">
          <input type="text" class="search-query input-large" placeholder="site search">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>