<!-- Menu starts here -->
<div class="menu">
  <div class="nav">
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <% @tabs.each do |tab| %>
          <li class="tutorials"><a href="#"><%= tab.title.titleize %></a>
            <ul>
              <% tab.categories.each do |cat| %>
                  <li><a href="#"><%= cat.title.titleize %></a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
      <li class="about"><a class="active" href="#">About</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>
</div>

